@CHARSET "UTF-8";
.rte {border:1px solid #ACACAC;font-family:Verdana;}
.rte iframe {border:none;margin:0;padding:0;}
.rte textarea {border:none;margin:none;padding:0;overflow-y:scroll;resize:none;outline:none;width:100%;white-space:pre-wrap;}
.rte textarea:hover {border:none;outline:none;}
.rte-toolbar {background-color:#F9F9F9;border-bottom:1px solid #ACACAC;height:24px;}
.rte-buttons{float:left;height:24px;margin:0;}
.rte-separator{float:left;width:1px;height:17px;margin:4px 2px;background:#CCC;}
.rte-button{float:left;width:24px;height:24px;background:url(images/wysiwyg-fugue.png) no-repeat;}
.rte-button:hover{background-color:#EEE;}
.rte-popup{background:#EFEFEF;border:1px solid #ACACAC;color:#333;font-size:11px;padding:5px;}
.rte-popup input {font-size:11px;border:1px solid #ACACAC;}

.rte-popup-color{display:inline-block;width:8px;height:8px;margin:3px;border:1px solid #FFF;}
.rte-popup-color:hover{border:1px solid #000;}

.rte-popup-format{height:24px;padding:0;margin:0;cursor:pointer;}
.rte-popup-format:hover{background-color:#CCC;}

.rte-popup-size{height:24px;padding:0;margin:0;cursor:pointer;}
.rte-popup-size:hover{background-color:#CCC;}

.rte-bold{background-position:0 0;}
.rte-italic{background-position:-24px 0!important;}
.rte-underline{background-position:-48px 0!important;}
.rte-strikethrough{background-position:-72px 0!important;}
.rte-sup{background-position:-96px 0!important;}
.rte-sub{background-position:-120px 0!important;}
.rte-alignleft{background-position:-144px 0!important;}
.rte-center{background-position:-168px 0!important;}
.rte-alignright{background-position:-192px 0!important;}
.rte-justify{background-position:-216px 0!important;}
.rte-format{background-position:-240px 0!important;}
.rte-fontsize{background-position:-264px 0!important;}
.rte-color{background-position:-288px 0!important;}
.rte-hilite{background-position:-312px 0!important;}
.rte-backcolor{background-position:-336px 0!important;}
.rte-cut{background-position:-360px 0!important;}
.rte-copy{background-position:-384px 0!important;}
.rte-paste{background-position:-408px 0!important;}
.rte-undo{background-position:0 -24px!important;}
.rte-redo{background-position:-24px -24px!important;}
.rte-numbering{background-position:-48px -24px!important;}
.rte-bullets{background-position:-72px -24px!important;}
.rte-indent{background-position:-96px -24px!important;}
.rte-outdent{background-position:-120px -24px!important;}
.rte-image{background-position:-144px -24px!important;}
.rte-link{background-position:-168px -24px!important;}
.rte-unlink{background-position:-192px -24px!important;}
.rte-html{background-position:-216px -24px!important;}